@import '../../../../shared/colors';
.getTop {
    padding: 5px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 16px;
    color: $darkBlue;
    margin: 10px;
    color: $lightGray;
    background: $lightBlue;
    
    &:hover {
        cursor: pointer;
    }
}