@import '../../../../shared/colors';

.movies {
    &__container {

        &_open {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            align-items: center;
            justify-content: space-between;
        }

        &_close {
            display: none;
        }
    }
}

.similar {
    &__header {
        font-size: 21px;
        color: $lightBlue;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}