@import '../../../colors';

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    color: $darkBlue;
    text-decoration: none;
    

    &__pic {
        font-size: 36px;
        line-height: 0px;
    }

    &:hover {
        cursor: pointer;
    }
}
