.material-icons {
    font-size: inherit;
    font-weight: inherit;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    list-style-type: none;
}